@model IEnumerable<AmazonProducts.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Lists</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" }) |
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                @*<a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirmDelete()">Delete</a>*@

                    <button class="btn btn-danger" onclick="showDeleteConfirmation(@item.Id, $(this).closest('tr').attr('rowId'))">Delete</button>

                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                    <button type="button" id="closeIcon" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this product?</p>
                                    <input type="hidden" id="deleteProductId" value="" />
                                    <input type="hidden" id="deleteRowId" value="">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnDeleteNo">No</button>
                                    <button type="button" class="btn btn-danger" id="btnDeleteYes" >Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    

            </td>
        </tr>
}
    </tbody>
</table>
